@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600@display=swap');
:root{
    --main-color: #DD2F6E;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #98af8f;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    

}
.h1 lab la-accusoft {
    font-family: IM FELL Great Primer SC;
}